.recommendedVideo{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 10px 20px;
    padding-bottom: 0;
}
.recommendedVideo > h2{
    margin-left: 5px;
    margin-bottom: 20px;
}
.recommendedVideo_videos{
    display: flex;
    flex-wrap: wrap;
}