.videoCard{
    width: 270px;
    margin-bottom: 40px;
    margin-right: 40px;
}
.videoCard_thumbnail{
    height:140px;
    width:250px;
}
.videoCard_info{
    display: flex;
    margin-top:10px;
    padding-right:30px;
}
.videoCard_avatar{
    margin-top: 6px;
    height:30px !important;
    width:30px !important;

}
.video_textCard{
    margin-left: 15px;
}
.video_textCard > h4{
    font-size:14px;
    margin-top: 5px;
    margin: 0;
}
.video_textCard > p{
    font-size:14px;
    color:grey;
    margin: 0;
}